[[problems]]
name = 'aplusb'
tioj_problem_id = 7122
# testcase_hash = '' # SHA256-hash of hash.json? # TODO

[[problems]]
name = 'assignment'
tioj_problem_id = 7123
# if the timelimit is different, there will be a warning note in hint section
timelimit = 2.0
